body{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url("bg-pattern-top.svg"),url("bg-pattern-bottom.svg");
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat,no-repeat;
    background-position: -300px -500px , 600px 300px;
}
.container{
   display: flex;
   flex-direction: column;
   margin: 120px;
   text-align: center;
   /* align-items: center; */
   background-color: white;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;

}
.center{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-top: 0px;
    
}
.bg-img{
    background-image: url(bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:10px 10px 19px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    
}
img {
    border-radius: 50%;
    position: relative;
    bottom: -80px;
  }
.item{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0px;
}
h3{
    color: hsl(229, 23%, 23%);
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h2{
    padding:0px;
    margin: 0px;
}
p{
    color:hsl(227, 10%, 46%);
    padding-top: 0px;
    margin: 0px;
}
.color{
    color: hsl(227, 10%, 46%);
}

@media screen and (max-width:500px){
    .container
    {
        flex-direction: column;
    }
}

